img {
  width: 75%;
  display: block;
  margin: auto;
  box-shadow: 10px 10px 15px black;
  margin-bottom: 2%;
}

.jumbotron {
  background-image: url("/images/Binary-Code.jpg");
  background-size: contain;
  color: white;
  margin-bottom: 0;
  border-radius: 0;
}

.jumbotron h1, .jumbotron h3 {
  font-weight: bold;
  text-align: center;
  text-shadow: 5px 5px 8px black;
  font-family: 'Abril Fatface', cursive;
}

.jumbotron h1 {
  font-size: 75px;
}

.jumbotron h3 {
  background-color: black;
  padding: .5em 0;
  opacity: .75;
  border-radius: 10px 0 10px 0;
  border: 2px solid white;
}

#event {
  text-align: center;
  text-shadow: 4px 4px 4px black;
  font-family: 'Poiret One', cursive;
  color: white;
  margin-bottom: 5%;
  font-size: 50px;
}

.index-btn {
  color: white;
  text-decoration: none;
}

li {
  font-family: helvetica;
}

.row-event-bckg {
  background-color: gray;
  padding-bottom: 5%
}

#para-right {
  text-align: justify;
  font-weight: lighter;
  font-style: italic;
  color: white;
  font-size: 1.2em;
  border: 1px solid #204D74;
  border-radius: 10px 0 10px 0;
  padding: 10px 10px;
}

#para-left {
  text-align: right;
  font-weight: normal;
  font-style: italic;
  color: #204D74;
  font-size: 1.325em;
  padding-right: 35px;
}

.footer {
  height: 200px;
  background-color: #0073d7;
  width: 102.6%;
}

.footer li {
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  color: white;
  font-size: 16px;
  font-family: 'Poiret One', cursive;
}

.footer ul {
  text-align: center;
}

.row {
  padding: 4% 0;
}

.group-btns {
  width: 65%;
  margin: auto;
}

#center-btns {
  width: 157px;
  margin: auto;
}
