img {
  width: 75%;
  display: block;
  margin: auto;
  box-shadow: 10px 10px 15px black;
  margin-bottom: 4%;
}

.jumbotron {
  background-image: url("/images/Binary-Code.jpg");
  background-size: contain;
  color: white;
}

.jumbotron h1, .jumbotron h3 {
  font-weight: bold;
  text-align: center;
  text-shadow: 5px 5px 8px black;
  font-family: 'Poiret One', cursive;
}

.jumbotron h1 {
  font-size: 105px;
}

.container {
  padding-bottom: 3%;
}

#event {
  text-align: center;
  text-shadow: 4px 4px 7px darkgray;
}

.index-btn {
  color: white;
  text-decoration: none;
}

.index-btn:hover {
  text-decoration: none;
  color: lightgray;
}

li {
  font-family: helvetica;
}

.mv-center {
  margin-left: 38%;
}
