<!--index.vtl-->
<div class="jumbotron">
  <h1>Portland Hack-a-thon</h1>
  <h5>Let's Make Something Great!</h5>
</div>
<h5>Current Teams:</h5>
<ul>
  #foreach ($team in $teams)
    <li><a href="/teams/$team.getId()">$team.getTeamName()</a></li>
  #end
</ul>

<a href="/event">View Event</a>
<br>
<a href="/teams/new">Add a New Team</a>

<!--index.vtl-->

<!-- list all teams with the ability to click on individual team to view its members
add anchor to Add Team
add anchor to View Event -->
