<!-- member.vtl -->
<div class="row">
  <div class="col-md-push-2 col-md-8">
    <h2>$team.getTeamName() Member</h2>
    <h4>$member.getMemName()</h4>
    <br>
    <br>
    <button type="button" class="btn btn-primary"><a href="/" class="index-btn">Home</a></button>
    <button type="button" class="btn btn-success"><a href="/teams/$team.getId()" class="index-btn">Back to Team <strong>$team.getTeamName()</strong></a></button>

  </div>
</div>


<!-- member.vtl -->
