<!-- team-member-form.vtl -->
<div class="row">
  <div class="col-md-push-2 col-md-8">
    <h2>Success!</h2>

    <p>You have successfully added <strong>$member.getMemName()</strong> to $team.getTeamName()!</p>

    <a href="/teams/$team.getId()/members/new">Add another member</a>
    <br>
    <a href="/teams/$team.getId()">View your updated team</a>
    <br>
    <a href="/">Home</a>
  </div>
</div>
<!-- team-member-form.vtl -->
