<!-- team-success.vtl -->
<div class="row">
  <div class="col-md-push-2 col-md-8">
    <h2>Success!</h2>

    <p>Your team - <strong>$team.getTeamName()</strong> - has been saved.</p>
    <p>Click the link below to view all the teams signed up for the event.</p>
    <br>
    <button type="button" class="btn btn-success"><a href="/" class="index-btn">View Teams</a></button>
  </div>
</div>
<!-- team-success.vtl -->
