<!-- team-success.vtl -->
<div class="row">
  <div class="col-md-push-2 col-md-8">
    <h2>Success!</h2>
    <hr>
    <p>The team - <strong>$team.getTeamName()</strong> - has been created.</p>
    <p>Click the link below to view all the teams signed up for the event.</p>
    <br>
    <a href="/" class="btn btn-success index-btn">View Teams</a>
  </div>
</div>
<!-- team-success.vtl -->
